{% for field in form %}
  <div class="component-field">
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {% with field.field.widget.input_type as input_type %}
      {% if input_type == "password" %}
        <div class="password-input">
          {{ field }}
          <button type="button" class="password-toggle" data-password-toggle>Show</button>
        </div>
      {% else %}
        {{ field }}
      {% endif %}
    {% endwith %}
    {% if field.help_text %}
      <p class="component-help">{{ field.help_text }}</p>
    {% endif %}
    {% if field.errors %}
      <div class="component-error">{{ field.errors|join:", " }}</div>
    {% endif %}
  </div>
{% endfor %}
